.slide_pic_shadow
{
	background: transparent;
	width: 512px;
	height: 322px;
}

.slide_pic_shadow img
{
	margin-top: 0;
}

.roundabout-moveable-item {
	height: 21em;
	width: 32em;
}

#header_pattern
{
	margin-bottom: 30px;
}

.tagline
{
	margin-top: -85px;
}

#content_wrapper
{
	margin-top: 20px;
	padding-top: 10px;
}

#jquery_slider li .right_content
{
	margin-top: 10px;
}